[submodule "GameEngine23/externals/SPIRV-Reflect"]
	path = GameEngine23/externals/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "GameEngine23/externals/volk"]
	path = GameEngine23/externals/volk
	url = https://github.com/zeux/volk.git
[submodule "GameEngine23/externals/Vulkan-Headers"]
	path = GameEngine23/externals/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "GameEngine23/externals/freetype"]
	path = GameEngine23/externals/freetype
	url = https://github.com/freetype/freetype
