[submodule "externals/Vulkan-Headers"]
	path = externals/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "externals/volk"]
	path = externals/volk
	url = https://github.com/zeux/volk.git
[submodule "externals/SPIRV-Reflect"]
	path = externals/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
